<footer class="footer">
    <div class="container">
          <p>&copy; 2023 EventApp. All rights reserved</p>
          <!-- <div class="social-icons">
            <a href="#" target="_blank" matTooltip="Facebook">
              <mat-icon class="icon">facebook</mat-icon>
            </a>
            <a href="#" target="_blank" matTooltip="Instagram">
              <mat-icon class="icon">instagram</mat-icon>
            </a>
            <a href="#" target="_blank" matTooltip="Twitter">
              <mat-icon class="icon">twitter</mat-icon>
            </a>
          </div> -->
    </div>
</footer>
